# --------------------------------
# NodeJS
# --------------------------------
node_modules
npm-debug.log

# --------------------------------
# JetBrains products
# --------------------------------
.idea/
*.iml
dist/
